In [1]:
# 리스트 
# 순서가 존재하고 중복을 허용하는 자료 구조형
# 파이썬에서는 변수에 데이터 타입이 없듯이 모든 타입을 하나의 리스트에 담을 수 있음
# 리스트 표현 : [요소1, 요소2, 요소3 , . . .]

In [2]:
array = [1, 3.14, '문자열', True]
array

[1, 3.14, '문자열', True]

In [3]:
array[0]

1

In [4]:
array[-1]

True

In [5]:
array[4]

IndexError: list index out of range

In [6]:
for item in array:
    print(item)

1
3.14
문자열
True

In [7]:
# [3.5, 10.3, 3.2 , 7.8, 5.4 ]  라는 리스트가 있을 때
# 리스트에서 최대값, 최소 값, 평균 , 분산을 출력하시오

In [28]:
data = [3.5, 10.3, 3.2, 7.8, 5.4]

In [11]:
# 최대값 구하기
max_value = max(data)
print("최대값:", max_value)

최대값: 10.3

In [12]:
# 최소값 구하기
min_value = min(data)
print("최소값:", min_value)

최소값: 3.2

In [13]:
# 평균 구하기
average = sum(data) / len(data)
average = round(average, 3)  # 소수점 셋째 자리에서 반올림
print("평균:", average)

평균: 6.04

In [14]:
# 분산 구하기
variance = sum((x - average) ** 2 for x in data) / len(data)
variance = round(variance, 5)  # 소수점 다섯째 자리에서 반올림
print("분산:", variance)

분산: 7.2344

In [30]:
# 강사님 코드
# 최대값
max_value = float("-Inf")  
for number in data:
    if number > max_value:
        max_value = number

print("최대값:", max_value)

최대값: 10.3

In [34]:
# 최소값
min_value = float("Inf")
for number in data:
    if number < min_value:
        min_value = number

print("최소값:", min_value)

최소값: 3.2

In [35]:
# 평균
sum = 0
for number in data :
    sum += number
avg = round (sum/len(data), 2)

print("평균:", avg)

평균: 6.04

In [38]:
# 분산
sum = 0
for number in data :
    sum += (number - avg) ** 2
dispersion = round (sum / len(data), 2)
print("분산:", dispersion)

분산: 7.23

In [39]:
# 리스트의 개수 구하기
# len() 내장함수로 리스트의 길이를 구할 수 있음

In [40]:
len(data)

5

In [41]:
# 리스트 구조로 형변환
# 반복가능한 객체에 대하여  리스트 형태로 형 변환할 때 list() 내장함수를 사용

In [50]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
# 리스트에 자료 추가하기
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 추가할 수 있음
# 리스트 객체에 insert(인덱스, 요소) 메서드를 사용하여 특정 인덱스에 요소를 삽입할 수 있음
# 리스트 객체에 extend(리스트)  메서드를 사용아여 매개변수로 전달한 리스트를 확장할 수 있음

In [44]:
numbers = list(range(5))
numbers

[0, 1, 2, 3, 4]

In [45]:
numbers.append(99)
numbers

[0, 1, 2, 3, 4, 99]

In [46]:
numbers.insert(0,-100)
numbers

[-100, 0, 1, 2, 3, 4, 99]

In [48]:
numbers.extend([123, 321])
numbers

[-100, 0, 1, 2, 3, 4, 99, 123, 321, 123, 321]

In [53]:
# 리스트에서 요소 삭제
# del  요소 : 요소를 메모리상에서 제거 
# pop() : 마지막 요소를 반환한 후 제거     
# pop(인덱스) : 지정한 인덱스 요소를 반환하고 제거

In [51]:
del numbers[0]
numbers

[0, 1, 2, 3, 4, 99, 123, 321, 123, 321]

In [52]:
numbers.pop()

321

In [54]:
numbers.pop(2)

2

In [ ]:
numbers.remove(2)
numbers

In [57]:
# fltmxm [t시작인덱스 : 종료인덱스] : 시작인덱스 요소부터 종료 인덱스 끝까지 요소를 리스트로 반환
numbers =list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [59]:
numbers[:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
numbers[7: 14]

[7, 8, 9, 10, 11, 12, 13]

In [63]:
numbers[7:20]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [64]:
numbers[7:]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [65]:
# 1. 리스트에는 숫자 뿐 아니라 문자 등 어떤 값도 넣을 수 있다. 10명으로 이루어진 반의 학생 이름을 생각하여 리스트 변수로 만들어 본다.
# 2. 전학생이 왔다고 가정하여 리스트에 이름을 추가한다.
# 3. 한 명이 전학을 갔다고 가정하고 리스트에서 이름을 삭제한다.
# 4. 슬라이싱으로 5번 학생(1번 학생은 가장 처음에 있는 학생이다.)부터 9번 학생까지 5명의 이름을 담은 새로운 리스트를 만든다.

In [9]:
names = ['야스오', '사일러스', '레넥톤', '요네', '트런들', '말파이트', '자르반 4세','브랜드','판테온','스몰더']

In [68]:
names.append('트위스티드 페이트')
names

['야스오',
 '사일러스',
 '레넥톤',
 '요네',
 '트런들',
 '말파이트',
 '자르반 4세',
 '브랜드',
 '판테온',
 '스몰더',
 '트위스티드 페이트']

In [69]:
names.remove('브랜드')
names

['야스오',
 '사일러스',
 '레넥톤',
 '요네',
 '트런들',
 '말파이트',
 '자르반 4세',
 '판테온',
 '스몰더',
 '트위스티드 페이트']

In [72]:
new_names= [names[4:9]]
new_names

[['트런들', '말파이트', '자르반 4세', '판테온', '스몰더']]

In [ ]:
# 리스트 복수 할당
# 변수를 ,로 구분하여 대입 연산자 좌상으로 나열하여 리스트에 있는 요소를 분리해서 대입 할 수 있음

In [1]:
numbers = [1,2,3]

In [3]:
number1, number2, number3 = numbers

In [4]:
print(f'{number1} {number2} {number3}')

1 2 3

In [5]:
#  만약 복수 할당할 변수의 개수가 리스트 요소의 개수와 같지 않다면 오류가 발생
number1, number2 = numbers

ValueError: too many values to unpack (expected 2)

In [6]:
# enumerate()
# 리스트를 인덱스, 요소 묶음으로 만들어 주는 내장 함수

In [7]:
enumerate(numbers)

In [8]:
for index, item in enumerate(numbers):
    print(f'인덱스 : {index}, 요소:{item}')

인덱스 : 0, 요소:1
인덱스 : 1, 요소:2
인덱스 : 2, 요소:3

In [10]:
# zip() 
# 두 개의 리스트를 동일한 인덱스의 값을 묶어서 새로운 리스트를 생성하는 함수

In [11]:
names

['야스오', '사일러스', '레넥톤', '요네', '트런들', '말파이트', '자르반 4세', '브랜드', '판테온', '스몰더']

In [13]:
scores = [70, 85, 60, 55, 90 ,100, 100, 65, 75, 40]
scores

[70, 85, 60, 55, 90, 100, 100, 65, 75, 40]

In [15]:
name_scores = list(zip(names, scores))
name_scores

[('야스오', 70),
 ('사일러스', 85),
 ('레넥톤', 60),
 ('요네', 55),
 ('트런들', 90),
 ('말파이트', 100),
 ('자르반 4세', 100),
 ('브랜드', 65),
 ('판테온', 75),
 ('스몰더', 40)]

In [16]:
# 중첩 리스트
# 요소로 리스트를 가지고 있는 리스트

In [17]:
overlappings = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
overlappings

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
items = overlappings[0]
items

[1, 2, 3]

In [24]:
items[1]

2

In [41]:
# 평균 평점을 구하는 함수
# 함수의 매개변수로 grades, credits  리스트를 입력 받고 
# 평균 평점 GPA를 반환하는 함수를 작성하시오.
# 단, grades와 credits의 길이가 서로 다르다면 -1를 반환하시오.

In [52]:
def getGpa(grades, credits):
    if len(grades) != len(credits):
        return -1

    credits_sum = 0 # 이수 학점의 총합
    weight_sum = 0 # 가중치 총 합
    # for index in range(len(grades)):
    #     credits_sum  += credits[index] 
    #     weight_sum  += credits[index] * grades[index]

# [(4,3), (3,3), (2,1), (3,2), (4,2)]
    for grade,  credit in zip(grades, credits):
        credits_sum += credit
        weight_sum += credit* grade

# 평균평점 = (가중치 총합) / (이수 학점의 총합)
    gpa = round(weight_sum / credits_sum, 2)
    return gpa

In [53]:
grades = [4, 3, 2, 3, 4]
credits = [3, 3, 1, 2, 2]
getGpa(grades, credits)

3.36

In [54]:
# x = [['길동', 90], ['철수', 80],  ['영희', 70], ['방자', 60]
# 복수할당과 zip 함수를 사용하여 이름만 존재하는 x_names 리스트 변수를 생성하시오

In [59]:
x = [
    ['길동', 90],
    ['철수', 80],
    ['영희', 70],
    ['방자', 60]
]
x

[['길동', 90], ['철수', 80], ['영희', 70], ['방자', 60]]

In [60]:
r_x = list(zip(*x))
r_x

[('길동', '철수', '영희', '방자'), (90, 80, 70, 60)]

In [ ]:
x_names, x_scores = r_x