In [1]:
# 반복문
# for 반복문 : 반복할 횟수가 정해져있는 반복 작업에서 사용
# for 변수 in range(반복횟수)
#       반복할 실행문

In [9]:
# for (int index = 0; index < 5 ; index++)  {} - 이 형태가 아님 !

# int[] array = int{0, 1, 2, 3, 4}
# for (int index : array) {} -  이 형태가 맞음 !

# range(정수)  : 0부터 정수만큼의 길이를 가지는 정수 리스트 생성
# range(시작 정수, 종료 정수) : 시작 정수부터 종료 정수까지의 정수 리스트 생성
# range(시작 정수, 종료 정수, 차이정수) : 시작 정수부터 종료 정수 -1 가지의 정수 리스트를 생성하는데 차이정수만큼의 차이를 가지며 변경됨
print(list(range(5)))

for index in range(5):
    print(index)
   

for index in range(5, 10):
    print(index)
    

for index in range(5, 10, 3):
    print(index)
   

for index in range(10, -1, -1):
    print(index)

[0, 1, 2, 3, 4]
0
1
2
3
4
5
6
7
8
9
5
8
10
9
8
7
6
5
4
3
2
1
0

In [29]:
n = 10 
for index in range (0, n) : 
        if index <= n:
                print('*' * (index + 1))

*
**
***
****
*****
******
*******
********
*********
**********

In [30]:
# 강사님 코드
for count in range (1, 11):
    print("*" * count)

*
**
***
****
*****
******
*******
********
*********
**********

In [33]:
n = 10 
for index in range (0, n) : 
        if index <= n:
                print('*' * (n - index))

**********
*********
********
*******
******
*****
****
***
**
*

In [34]:
# 강사님 코드
for count in range (10, 0 ,-1) :
    print("*" * count)

**********
*********
********
*******
******
*****
****
***
**
*

In [37]:
n = 10
for index in range (1, n * 2) :
    if index <= n :
        print('*' * index )
    else : 
        print('*' * (n * 2 - index))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [39]:
 # 강사님 코드
for count in range(1, 20) :
    if count <= 10 :
        print("*" * count)
    else :
        print("*" * (20 - count))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [69]:
for index in range(1, 8):
    for blank in range(7 - index):
        print(" ", end="")
    for star in range(1, index * 2):
        print("*", end="")
    print()
for index in range(6, 0, -1):
    for blank in range(7 - index):
        print(" ", end="")
    for star in range(1, index * 2):
        print("*", end="")
    print()

      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [80]:
# 강사님 코드
for count in range(1, 12) :
    star = "*"
    if count <= 6:
        star = "*" * (count * 2 - 1)
    else :
        star =  "*" * ((12- count) * 2 - 1)
    print(f'{star:^11}')

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
# 중첩 for 반복문
# 0  1 2 3
# 2 3 4 5 
# 3 4 5 6

In [82]:
for a in range(4) :
    for b in range(4):
        print(a+b, end=" " )
    print ("")

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [86]:
for start in range(4):
    for value in range(start, start + 4):
        print (value, end=" ")
    print ("")

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [88]:
# 두 주사위의 모든 경우의 수 도출
for a in range (1, 7) :
    for b in range(1, 7):
        # 두 주사위의 합이 4의 배수인거만 출력
        if (a + b ) % 4 == 0:
            print(f'{a} {b}' )

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

In [106]:
initial_price = 1024

# 1일 주식 경우의수
for day1_flip in ['앞면', '뒷면']:
    price_day1 = initial_price * 2 if day1_flip == '앞면' else initial_price / 2
# 2일 주식 경우의수    
    for day2_flip in ['앞면', '뒷면']:
        price_day2 = price_day1 * 2 if day2_flip == '앞면' else price_day1 / 2
# 3일 주식 경우의수
        for day3_flip in ['앞면', '뒷면']:
            price_day3 = price_day2 * 2 if day3_flip == '앞면' else price_day2 / 2
# 4일 주식 경우의수
            for day4_flip in ['앞면', '뒷면']:
                price_day4 = price_day3 * 2 if day4_flip == '앞면' else price_day3/ 2
                print(f"4일째 주식의 가격: {price_day4:.0f}원" , {day1_flip})

4일째 주식의 가격: 16384원 {'앞면'}
4일째 주식의 가격: 4096원 {'앞면'}
4일째 주식의 가격: 4096원 {'앞면'}
4일째 주식의 가격: 1024원 {'앞면'}
4일째 주식의 가격: 4096원 {'앞면'}
4일째 주식의 가격: 1024원 {'앞면'}
4일째 주식의 가격: 1024원 {'앞면'}
4일째 주식의 가격: 256원 {'앞면'}
4일째 주식의 가격: 4096원 {'뒷면'}
4일째 주식의 가격: 1024원 {'뒷면'}
4일째 주식의 가격: 1024원 {'뒷면'}
4일째 주식의 가격: 256원 {'뒷면'}
4일째 주식의 가격: 1024원 {'뒷면'}
4일째 주식의 가격: 256원 {'뒷면'}
4일째 주식의 가격: 256원 {'뒷면'}
4일째 주식의 가격: 64원 {'뒷면'}

In [107]:
# 카운터 변수가 변하는 경우

for count in range (1, 11) :
    sum = 0
    for value in range(count):
        sum += value
    print(sum)

0
1
3
6
10
15
21
28
36
45

In [114]:
# 다음과 같은 수열이 있을 경우에 10번째 수열의 값을 구한다.
# 1+(1+2)+(1+2+3)+(1+2+3+4)+⋯+(1+⋯+10)
sum = 0
for count in range(1,11):
    for value in range (count + 1):
        sum += value
print(sum)

220