In [3]:
import pandas as pd
import numpy as np

### 다중 인덱스
데이터프레임에 여러 계층을 가지는 인덱스를 지정할 수 있음  
데이터프레임 생성시 `columns` 인수로 다차원 리스트 형태를 지정하면 다중 인덱스로 지정할  
수 있음

In [4]:
df = pd.DataFrame(np.random.randn(5, 4).round(2), columns = [['A','A','B','B'], ['C1','C2','C1','C2']])

df

      A           B
     C1    C2    C1    C2
0 -0.63 -1.36  1.52 -0.54
1 -1.02 -0.44  0.69  0.11
2 -1.77 -0.60  1.19  0.70
3  1.04  0.88  0.50  0.41
4  0.32  0.11  0.91  1.37

데이터프레임의 `columns` 속성의 `names` 속성으로 각 열 인덱스에 대한 이름을 부여할 수 있음

In [5]:
df.columns.names = ['Cidx', 'Cidx2']
df

Cidx      A           B
Cidx2    C1    C2    C1    C2
0     -0.63 -1.36  1.52 -0.54
1     -1.02 -0.44  0.69  0.11
2     -1.77 -0.60  1.19  0.70
3      1.04  0.88  0.50  0.41
4      0.32  0.11  0.91  1.37

데이터프레임 생성 시 `index` 인수로 다차원 리스트를 지정하면 다차원 형태의 행  
인덱스를 지정할 수 있음  
행 인덱스의 이름은 데이터프레임 인스턴스의 `index` 속성의 `names` 속성으로 지정할 수 있음

In [ ]:
df2 = pd.DataFrame(np.random.randn(6, 4).round(2), 
columns = [['A','A','B','B'], ['C1','C2','C1','C2']],
index = [['M', 'M', 'M', 'F', 'F', 'F'], ['id_1', 'id_2', 'id_3', 'id_1', 'id_2', 'id_3']])
df2

In [10]:
df2.index.names =  ['Ridx1', 'Ridx2']
df2.columns.names = ['Cidx1','Cidx2']
df2

Cidx1           A           B
Cidx2          C1    C2    C1    C2
Ridx1 Ridx2
M     id_1  -0.46 -0.62 -1.00  1.86
      id_2  -0.13 -1.95  0.77  1.91
      id_3  -0.91  0.16  0.70 -1.73
F     id_1  -0.28 -1.09  1.83  1.35
      id_2   0.73  0.86  2.67 -0.15
      id_3  -1.50  1.90  0.49  0.47

### 열 인덱스와 행 인덱스 교환
`stack` , `unstack` 메서드로 열 인덱스를 행 인덱스로 또는 행 인덱스를 열 인덱스로 바꿀 수 있음
`stack()` 메서드 : 열 인덱스를 행 인덱스로 변경
`unstack()` 메서드 : 행 인덱스를 열 인덱스로 변경