In [ ]:
import pandas as pd
import numpy as np

### 판다스 데이터 입출력  
판다스는 아래와 같은 형식의 데이터를 입력 받아 데이터프레임을 만들 수 있음  
- CSV  
- Excel  
- HTML  
- JSON  
- HDF5  
- SAS  
- STATA  
- SQL   

가장 많이 사용되는 포멧은 CSV, JSON, SQL

### `%%writefile` 명령 
`%%writefile` 명령어를 사용하여 파이썬에서 파일을 생성할 수 있음

In [ ]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

### CSV 파일 입력
판다스 패키지의 `read.csv` 메서드를 사용하여 로컬에 존재하는 CSV 파일을 읽을 수 있음

In [ ]:
pd.read_csv('sample1.csv ')

만약 데이터에 열 인덱스가 존재하지 않는다면 `read_csv` 메서드의 `names` 속성으로 열 인덱스를 
지정할 수 있음

In [ ]:
%%writefile sample2.csv
1, 1.11, one  
2, 2.22, two  
3, 3.33, three

In [ ]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'])

CSV의 특정 열을 행 인덱스로 사용하고 싶을 땐 `read_csv` 메서드의 `index_col` 속성으로 지정할  
수 있음

In [ ]:
pd.read_csv('sample1.csv', index_col = 'c1')

특정한 값을 `NaN`으로 변경하고 싶으면 `na_values` 속성으로 `NaN`으로 취급할 값을 리스트로 지정함

In [ ]:
%%writefile sample3.csv
c1, c2, c3
1, 1.11, one
2, ,two
누락, 3.33, three

In [ ]:
df = pd.read_csv('sample3.csv', na_values=['누락', ' '])

### DataFrame을 CSV 파일로 출력
`to_csv()` 메서드로 데이터프레임을 csv 파일로 출력할 수 있음

In [ ]:
df.to_csv('sample4.csv')

In [ ]:
!type sample4.csv

파일을 출력할 때 구분자를 변경하고 싶으면 `sep` 속성에 구분자를 지정함

In [ ]:
df.to_csv('sample5.csv', sep = '_')

`NaN` 값에 대해서 표시를 변경하고 싶으면 `na_rep` 속성에 표시할 값을 지정함

In [ ]:
df.to_csv('sample6.csv', na_rep = '누락')

`index`, `header` 속성으로 행 인덱스 및 열 인덱스의 출력 여부를 지정함

In [ ]:
df.to_csv('sample7.csv', index = False, header = False)

### 인터넷 상의 CSV 파일 입력
로컬에 존재하는 CSV 파일뿐만 아니라 웹 상에 존재하는 CSV 파일도 `read_csv()` 메서드로 읽을 수 있음

In [35]:
df = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")

In [36]:
df.tail(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

### 데이터베이스 입력
데이터베이스에 있는 데이터를 데이터프레임으로 받아오기 위해서는 각 DBMS에 맞는 connector를  
사용하여야함

##### mysql connector 
```bash
pip install mysql-connector-python
```

``` python
import mysql.connector
```

In [1]:
import mysql.connector

In [2]:
try:
    conn = mysql.connector.connect(
        host = "127.0.0.1",
        user = 'root',
        password = 'root',
        database = 'real_estate'
    )
    if conn.is_connected():
        cursor = conn.cursor()
        query = 'SELECT * FROM user'
        cursor.execute(query)

        for record in cursor:
            print(record)
except Exception as e:
    print('데이터 베이스 접속 실패', e)
finally:
    if conn.is_connected():
        conn.close()
        print('데이터베이스 연결 해제')

데이터 베이스 연결 성공
데이터베이스 연결 해제

데이터베이스 연결 후 쿼리 작업을 할 때는 `cursor` 사용