### 판다스 패키지
데이터를 시계열이나 표로 표현하기 위한 패키지  
시계열을 표현하는 `Series` 클래스와 표로 표현하는 `DataFrame` 클래스 존재함

판다스 패키지를 사용하기 위해서는 패키지를 설치 해야함
``` bash
pip install pandas
```

패키지를 임포트할 때는  
```python
import pandas
import pandas as pd
```

pandas 3.0 이상 버전 부터는 Pyarrow 패키지가 필수 의존 패키지로 지정되어 존재하지 않으면  
```bash
pip install pyarrow
```
로 설치 권장

In [1]:
import pandas as pd

### 시리즈 클래스
1차원의 시계열 데이터를 표현하고자 할 때 사용하는 클래스로 인덱스와 값이 한 쌍으로 나열 되어 있는 형태  
시리지를 생성하는 방법 : pandas 패키지의 `Series` 클래스의 생성자로 값과 인덱스에 대한 배열 혹은  
리스트를 전달하면 생성 할 수 있음

In [7]:
# 인덱스 배열의 요소는 중복이 되어도 됨
scores = pd.Series([85, 70, 100, 90, 55], index = ['오구라 유나', '모모타니 에리카', '후카다 에이미', '모모노기 카나', '미카미 유아'])
scores

오구라 유나       85
모모타니 에리카     70
후카다 에이미     100
모모노기 카나      90
미카미 유아       55
dtype: int64

In [4]:
# index를 지정하지 않으면 0부터 시작하는 정수의 인덱스 값이 자동으로 생성됨
scores = pd.Series([85, 70, 100, 90, 55])
scores

0     85
1     70
2    100
3     90
4     55
dtype: int64

Sereis 객체의 index와 values 들을 보고자 한다면 `index`속성과 `values` 속성으로 확인할 수 있음

In [6]:
scores.index

Index(['오구라 유나', '아스카 키라라', '후카다 에이미', '모모노기 카나', '미카미 유아'], dtype='object')

`name` 속성으로 value에 대한 이름을 부여할 수 있음
`index.name` 속성으로 index에 대한 이름을 부여할 수 있음

In [8]:
scores.name = '점수'
scores.index.name = '이름'
scores

이름
오구라 유나       85
모모타니 에리카     70
후카다 에이미     100
모모노기 카나      90
미카미 유아       55
Name: 점수, dtype: int64

#### 시리즈 연산
시리즈도 numpy 배열과 같이 벡터화 연산이 가능함  
단, 연산 작업은 값에만 적용됨

In [9]:
scores * 0.4

이름
오구라 유나      34.0
모모타니 에리카    28.0
후카다 에이미     40.0
모모노기 카나     36.0
미카미 유아      22.0
Name: 점수, dtype: float64

In [10]:
scores >= 60

이름
오구라 유나       True
모모타니 에리카     True
후카다 에이미      True
모모노기 카나      True
미카미 유아      False
Name: 점수, dtype: bool

In [12]:
scores2 = pd.Series([60,100,90,70,95], index= ['오구라 유나', '모모타니 에리카', '후카다 에이미', '모모노기 카나', '미카미 유아'])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (699655370.py, line 1)